.body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;

}

.header {
    margin-top: 45px;
}

.container {
    width: 1200px;
}

.header__logo {


}


.nav {

    width: 50%;
    float: right;

    flex-wrap: nowrap;
}

.nav-item {
    text-align: center;
    margin-right: 85px;
}

.nav-link {
    font-size: 14px;
    color: #626262;
    line-height: 1;
}

.img__header {


}
.newsletter {
    background-color: #F0F0F0;

}

.section__title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #C0BAAD;
    margin-top: 96px;
    margin-bottom: 80px;
}

.section__subtitle {
    color: #626262;
    font-size: 30px;
    margin-bottom: 32px;
}

.section__text {
    color: #707070;
    font-size: 14px;

}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 450px;
}

.photo__img {
    width: 420px;
    height: 280px;
    margin-bottom: 30px;
}

.photo__title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #C0BAAD;
    margin-bottom: 22px;
}

.photo__subtitle {
    color: #626262;
    font-size: 30px;
    margin-bottom: 30px;
}

.photo__text {
    font-size: 14px;
    color: #707070;
    margin-bottom: 101px;
}

.newsletter {
    background-color: #F0F0F0;
    align-items: center;
    width: 100%;
    height: 290px;


}

.newsletter__title {
    position: relative;
    padding-top: 65px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 30px;
}

.form__email {
    position: relative;
    width: 400px;
    border-bottom: 1px solid #000;
}

.form-control:focus {
    background-color: #F0F0F0;
}


.form-control {
    border: none;
    background-color: #F0F0F0;

}

.btn {
    border: none;
}

.btn-outline-secondary:hover, {
    background-color: #000;
}

.btn-outline-secondary:focus {
    background-color: #F0F0F0;
}

/*lifestyle*/

.lifestyle {
    height: 2000px;
    display: flex;
    justify-content: center;
    margin: 75px 450px;
}

.btn--lifestyle {
    border: 2px solid #626262;
    width: 164px;
    height: 60px;
    padding: 15px;

}






